.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    height: 100vh;
}

.flashcardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 35%;
    min-width: 25rem;
    height: 40%;
    min-height: 20rem;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    user-select: none;
}
.flashcardContainer h2, .flashcardContainer h3 {
    margin: 0;
}
.flashcardContainer h2 {
    line-height: 1;
    font-size: 2em;
}
.flashcardContainer h3 {
    line-height: 1.3;
}
.flashcardContainer div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 0.5rem;
}
.flashcardContainer h4 {
    margin: 1rem;
}
.flashcardContainer h4, .wordClass {
    font-size: 1.2em;
    color: rgb(102, 102, 102);
}

.wordConfirmationContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 35%;
    min-width: 25rem;
}
.wordConfirmationContainer button {
    font-size: 1.5em;
    border: 1px solid black;
    width: 12rem;
    gap: 1rem;
    background-color: rgb(240, 243, 255);
}
.wordPassButton {
    color: rgb(163, 39, 39);
}
.wordConfirmButton {
    color: rgb(12, 105, 12);
}
.wordPassButton:hover, .wordConfirmButton:hover {
    background-color: rgb(215, 219, 237);
}