.skillLevelPage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.title {
    font-size: 4em;
    font-weight: 800;
    text-align: center;
}
.skillLevelSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.skillLevelBox {
    width: 20%;
    min-width: 7rem;
    height: 25rem;
    border: 1px solid black;
    background-color: rgb(243, 245, 253);
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
}
.skillLevelBox:hover {
    background-color: rgb(227, 235, 252);
    cursor: pointer;
    transform: scale(1.05);
}
.skillLevelTitle {
    width: 100%;
    height: 4rem;
    /* border-bottom: 1px dashed black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.skillLevelBody {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skillLevelIcon {
    width: 65%;
}
@media (max-width: 725px) {
    .skillLevelSection {
        flex-direction: column;
        width: 80%;
        gap: 1rem;
    }
    .skillLevelBox {
        height: 6rem;
        width: 75%;
    }
    .skillLevelIcon {
        width: 40%;
        max-width: 2rem;
    }
    .title {
        font-size: 3em;
    }
}