.pageContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.title:hover {
  color: gray;
  cursor: pointer;
}
.storyContainer {
  border: 3px groove black;
  width: 50rem;
  padding: 2rem;
}
.storyText {
  font-size: 1.5em;
  font-weight: 500;
}
.storyText:hover {
    color: gray;
    cursor: pointer;
}
.wordLearning {
    color: blue;
    font-weight: bold;
}
.spinnerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.spinnerContainer {
  text-align: center;
}
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.buttonContainer button {
  width: 10rem;
  height: 3rem;
}

.translationBox {
  border: 2px solid black;
}
.translationBox p {
  font-weight: 500;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1000px) {
  .storyContainer {
    width: 80%;
  }
  .storyText {
    font-size: 1.3em;
  }
}
@media (max-width: 500px) {
  .pageContainer {
    gap: 1rem;
  }
  .storyText {
    font-size: 1.1em;
  }
  .buttonContainer {
    gap: 1rem;
  }
}
